body {
  font-family: 'Times New Roman', Times, serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.carousel-inner{
  height: 600px;
  /* width: 300px; */
}

.landing-photo {
  /* max-height: 50%; */
  display: block;
  max-width: 720px;
  max-height: 500px;
  width: auto;
  height: auto;
}

.mainDiv {
  position: block;
  text-align: center;
}

.navbar .navbar-nav {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

.padding-top {
  padding-top: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}